<h1>All users</h1>

<%= pagination_links @page %>

<ul class="users">
  <%= Enum.map @page, fn user -> %>
    <%= render "user.html", conn: @conn, user: user %>
  <% end %>
</ul>

<%= pagination_links @page %>
